{% extends 'gestionsanteBundle::layout.html.twig' %}
{% block content %}

    <div id="mainslider_2" class="sliderHomeBullets staticSlider slider_engine_revo slider_alias_revo-babbysitter mainslider_2">
        <div id="rev_slider_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev_slider_2" class="rev_slider fullwidthabanner">
                <ul>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" class="healthcare-slider-bg overlay_bg_13">

                        <img src="{{ asset('images/transparent.png') }}" alt="healthcare-slide-object-5" data-bgposition="center bottom" data-bgfit="100% 100%" data-bgrepeat="no-repeat">


                        <div class="tp-caption _hc_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="-120" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Mon pédiatre et moi
                        </div>

                        <div class="tp-caption _hc_slider_text tp-fade tp-resizeme rs-parallaxlevel-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="-50" data-speed="500" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">suivre la santé de votre enfant
                        </div>

                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="30" data-speed="500" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/enfants.png') }}" alt="">
                        </div>

                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="-22" data-y="bottom" data-voffset="-99" data-speed="500" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        </div>

                        <div class="tp-caption tp-fade rs-parallaxlevel-1" data-x="center" data-hoffset="0" data-y="center" data-voffset="-230" data-speed="700" data-start="3600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/healthcare-slide-object-1.png') }}" alt="">
                        </div>

                        <div class="tp-caption lft rs-parallaxlevel-1" data-x="center" data-hoffset="-31" data-y="bottom" data-voffset="-227" data-speed="500" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/healthcare-slide-object-2.png') }}" alt="">
                        </div>

                        <div class="tp-caption lft rs-parallaxlevel-2" data-x="center" data-hoffset="-9" data-y="bottom" data-voffset="-237" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation">
                                <img src="{{ asset('images/healthcare-slide-object-3.png') }}" alt="">
                            </div>
                        </div>

                        <div class="tp-caption lft rs-parallaxlevel-3" data-x="center" data-hoffset="7" data-y="bottom" data-voffset="-217" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/healthcare-slide-object-4.png') }}" alt="">
                        </div>

                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-1" data-x="center" data-hoffset="0" data-y="center" data-voffset="20" data-speed="500" data-start="3400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <a href='#'>
                                <img src="{{ asset('images/social-icon-1.png') }}" alt=''>
                            </a>
                            <a href='#'>
                                <img src="{{ asset('images/social-icon-2.png') }}" alt=''>
                            </a>
                            <a href='#'>
                                <img src={{ asset('images/social-icon-3.png') }} alt=''>
                            </a>
                            <a href='#'>
                                <img src={{ asset('images/social-icon-4.png') }} alt=''>
                            </a>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <img src="{{ asset('images/transparent.png') }}" alt="babbysitter-slider-ground" data-bgposition="center bottom" data-bgfit="normal" data-bgrepeat="no-repeat">
                        <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="221" data-y="bottom" data-voffset="-410" data-speed="700" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Règles de conservation des aliments
                        </div>
                        <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="124" data-y="bottom" data-voffset="-370" data-speed="700" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">organisation des repas
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="190" data-y="bottom" data-voffset="-320" data-speed="700" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">Optimized for Work with Touchscreen
                        </div>
                        <div class="tp-caption sft rs-parallaxlevel-6" data-x="center" data-hoffset="-323" data-y="bottom" data-voffset="-359" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.1">
                                <img src="{{ asset('images/babbysitter-slider-sun.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lfb fadeout rs-parallaxlevel-0" data-x="center" data-hoffset="-170" data-y="bottom" data-voffset="180" data-speed="700" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/enfant4.png') }}" alt="">
                        </div>
                        <div class="tp-caption lfl rs-parallaxlevel-3" data-x="center" data-hoffset="-492" data-y="bottom" data-voffset="-348" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-10" data-xe="10" data-ys="0" data-ye="0">
                                <img src="{{ asset('images/babbysitter-slider-cloud-1a.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lft rs-parallaxlevel-4" data-x="center" data-hoffset="-73" data-y="bottom" data-voffset="-548" data-speed="1000" data-start="3500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-15" data-xe="15" data-ys="0" data-ye="0">
                                <img src="{{ asset('images/babbysitter-slider-cloud-2a.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lfl rs-parallaxlevel-5" data-x="center" data-hoffset="470" data-y="bottom" data-voffset="-440" data-speed="1000" data-start="4500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="5" data-xs="-10" data-xe="10" data-ys="0" data-ye="0">
                                <img src="{{ asset('images/babbysitter-slider-cloud-1a.png') }}" alt="" data-ww="166.9390243902439" data-hh="486">
                            </div>
                        </div>
                        <div class="tp-caption customin customout rs-parallaxlevel-10" data-x="center" data-hoffset="300" data-y="bottom" data-voffset="-85" data-customin="x:500;y:-100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:-550;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.01;scaleY:0.01;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="3500" data-start="2450" data-easing="Power0.easeIn" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power0.easeInOut">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="1" data-angle="0" data-radius="3" data-origin="3% 3%">
                                <img src="{{ asset('images/object_2.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="120" data-y="bottom" data-voffset="-180" data-speed="300" data-start="4500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="sc_button sc_button_style_global sc_button_size_huge alignright curveButton right squareButton global huge">
                                <a href="#" class="">Alimentation</a>
                            </div>
                        </div>
                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="40" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/babbysitter-slider-ground-3.png') }}" alt="">
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <img src="{{ asset('images/transparent.png') }}" alt="babbysitter-slider-ground" data-bgposition="center bottom" data-bgfit="normal" data-bgrepeat="no-repeat">
                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="57" data-y="bottom" data-voffset="10" data-speed="1300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/enfant5.png') }}" alt="">
                        </div>
                        <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="-351" data-y="bottom" data-voffset="-415" data-speed="700" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Vous avez une question ?
                        </div>
                        <div class="tp-caption _bs_slider_text_big tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="-430" data-y="bottom" data-voffset="-375" data-speed="700" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">Consulter notre forum
                        </div>
                        <div class="tp-caption lfr rs-parallaxlevel-3" data-x="center" data-hoffset="-485" data-y="bottom" data-voffset="-520" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="2" data-angle="0" data-radius="10" data-origin="50% 50%">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lft rs-parallaxlevel-1" data-x="center" data-hoffset="-141" data-y="bottom" data-voffset="-151" data-speed="1000" data-start="3500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="2" data-angle="0" data-radius="10" data-origin="50% 50%">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lfl rs-parallaxlevel-2" data-x="center" data-hoffset="233" data-y="bottom" data-voffset="-376" data-speed="1000" data-start="4500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="5" data-angle="0" data-radius="10" data-origin="50% 50%">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="-435" data-y="bottom" data-voffset="-200" data-speed="300" data-start="4500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="sc_button sc_button_style_global sc_button_size_banner alignright curveButton right squareButton global banner">
                                <a href="http://axiom.ticksy.com/" class="">Forum</a>
                            </div>
                        </div>
                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="40" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/babbysitter-slider-ground-3.png') }}" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="mainWrap without_sidebar">
        <div class="content">
            <div class="">
                <section class="post post_format_standard postAlter no_margin page type-page">
                    <article class="post_content">
                        <div class="post_text_area">

                            <section class="red_section">
                                <div class="container container_style_1">
                                    <div class="sc_section bg_tint_dark">
                                        <div class="sc_content main  aligncenter">
                                            <h4 class="sc_title style_2 sc_title_regular font_ubuntu text_uppercase">
                                                NOUS OFFRONS DES SOINS PREMIERS POUR LES PATIENTS, DES DÉCOUVERTES AVANCÉES ET DES TRAITEMENTS</h4>
                                            <div class="margin_top_mini">
                                                <div class="sc_button sc_button_style_light sc_button_size_huge pushButton squareButton light huge">
                                                    <a href="#" class="">consultation</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="beige_section">
                                <div class="container container_style_2">
                                    <div class="sc_section bg_tint_light">
                                        <div class="sc_content main ">
                                            <div class="columnsWrap sc_columns sc_columns_count_4 aligncenter">
                                                <div class="columns1_4 sc_column_item sc_column_item_1 odd first">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/healthcare-icon-1.png') }}" alt=""/>
                                                    </div>
                                                    <h5 class="sc_title sc_title_iconed font-ubuntu style_2">
                                                        Respiratoire</h5>
                                                    <div class="">
                                                        <a href="#">savoir plus</a>
                                                    </div>
                                                </div>
                                                <div class="columns1_4 sc_column_item sc_column_item_2 even">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/healthcare-icon-2.png') }}" alt=""/>
                                                    </div>
                                                    <h5 class="sc_title sc_title_iconed font-ubuntu style_2">
                                                        Orthopédique</h5>
                                                    <div class="">
                                                        <a href="#">savoir plus</a>
                                                    </div>
                                                </div>
                                                <div class="columns1_4 sc_column_item sc_column_item_3 odd">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/healthcare-icon-3.png') }}" alt=""/>
                                                    </div>
                                                    <h5 class="sc_title sc_title_iconed font-ubuntu style_2">
                                                        Notre laboratoire</h5>
                                                    <div class="">
                                                        <a href="#">savoir plus</a>
                                                    </div>
                                                </div>
                                                <div class="columns1_4 sc_column_item sc_column_item_4 even">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/healthcare-icon-4.png') }}" alt=""/>
                                                    </div>
                                                    <h5 class="sc_title sc_title_iconed font-ubuntu style_2">
                                                        Après les heures de soins</h5>
                                                    <div class="">
                                                        <a href="#">savoir plus</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="lightblue_section texture_bg_13">
                                <div class="container">
                                    <div class="sc_content main ">
                                        <h2 class="sc_title style_2 aligncenter sc_title_regular">Ce que disent nos heureux parents</h2>
                                        <div class="sc_testimonials sc_testimonials_style_2 no_margin custom margin_top_small">
                                            <div class="sc_slider sc_slider_swiper sc_slider_nopagination sc_slider_autoheight swiper-slider-container" data-interval="7000">
                                                <ul class="sc_testimonials_items slides swiper-wrapper">
                                                    <li class="sc_testimonials_item swiper-slide">
                                                        <div class="sc_testimonials_item_content">
                                                            <div class="sc_testimonials_item_quote">
                                                                <div class="sc_testimonials_item_text">
                                                                    Je tiens à remercier tous les merveilleux médecins qui ont soigné mon enfant. Ils font du bon travail, ils sont amicaux, attentionnés et solidaires. Merci beaucoup de toute notre famille.</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_author">
                                                                <div class="sc_testimonials_item_avatar">
                                                                    <img src="{{ asset('images/no-ava.png') }}" alt="">
                                                                </div>
                                                                <div class="sc_testimonials_item_name">Tokyo</div>
                                                                <div class="sc_testimonials_item_position">acheteur</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_object">
                                                                <div class="object"> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="sc_testimonials_item swiper-slide">
                                                        <div class="sc_testimonials_item_content">
                                                            <div class="sc_testimonials_item_quote">
                                                                <div class="sc_testimonials_item_text">
                                                                    Je tiens à remercier tous les merveilleux médecins qui ont soigné mon enfant.</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_author">
                                                                <div class="sc_testimonials_item_avatar">
                                                                    <img alt='' src="{{ asset('images/no-ava.png') }}" srcset='images/no-ava.png' class='avatar avatar-50 photo' height='50' width='50'/>
                                                                </div>
                                                                <div class="sc_testimonials_item_name">Berlin</div>
                                                                <div class="sc_testimonials_item_position">SEO, Some Co.</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_object">
                                                                <div class="object"> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="sc_testimonials_item swiper-slide">
                                                        <div class="sc_testimonials_item_content">
                                                            <div class="sc_testimonials_item_quote">
                                                                <div class="sc_testimonials_item_text">Je tiens à remercier tous les merveilleux médecins qui ont soigné mon enfant.</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_author">
                                                                <div class="sc_testimonials_item_avatar">
                                                                    <img alt='' src="{{ asset('images/no-ava.png') }}" srcset='images/no-ava.png' class='avatar avatar-50 photo' height='50' width='50'/>
                                                                </div>
                                                                <div class="sc_testimonials_item_name">Denver</div>
                                                                <div class="sc_testimonials_item_position">Achteur</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_object">
                                                                <div class="object"> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="sc_testimonials_item swiper-slide">
                                                        <div class="sc_testimonials_item_content">
                                                            <div class="sc_testimonials_item_quote">
                                                                <div class="sc_testimonials_item_text">I want to say thank you to all the wonderful doctors who treated my child. They are doing great job, they are friendly, caring and supportive. Many thanks from our whole family.</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_author">
                                                                <div class="sc_testimonials_item_avatar">
                                                                    <img src="{{ asset('images/no-ava.png') }}" alt="">
                                                                </div>
                                                                <div class="sc_testimonials_item_name">Moscow</div>
                                                                <div class="sc_testimonials_item_position">Achteur</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_object">
                                                                <div class="object"> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="sc_testimonials_item swiper-slide">
                                                        <div class="sc_testimonials_item_content">
                                                            <div class="sc_testimonials_item_quote">
                                                                <div class="sc_testimonials_item_text">I want to say thank you to all the wonderful doctors who treated my child.</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_author">
                                                                <div class="sc_testimonials_item_avatar">
                                                                    <img src="{{ asset('images/no-ava.png') }}" alt="">
                                                                </div>
                                                                <div class="sc_testimonials_item_name">Rio</div>
                                                                <div class="sc_testimonials_item_position">Achteur</div>
                                                            </div>
                                                            <div class="sc_testimonials_item_object">
                                                                <div class="object"> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="">
                                <div class="container">
                                    <div class="sc_content main ">
                                        <div class="aligncenter">
                                            <h2 class="sc_title sc_title_regular">Nos spécialistes</h2>
                                            <p>
                                                Les soins d'une équipe professionnelle de spécialistes en pédiatrie hautement qualifiés, d'infirmières, de techniciens et de thérapeutes sont essentiels<br/>

                                                pour assurer le bon traitement pour votre enfant.</p>
                                        </div>
                                        <div class="sc_team no_padding">
                                            <div class="sc_columns columnsWrap margin_bottom_m20">
                                                <div class="columns1_4">
                                                    <div class="sc_team_item sc_team_item_1 odd first">
                                                        <div class="sc_team_item_avatar">
                                                            <img alt="healthcare-team-1.jpg" src="{{ asset('images/medecin.jpeg') }}">
                                                            <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                        </div>
                                                        <div class="sc_team_item_info">
                                                            <h3 class="sc_team_item_title"><a href="#">Edwin Wood</a></h3>
                                                            <div class="sc_team_item_position theme_accent2">Neurology</div>
                                                            <ul class="sc_team_item_socials">
                                                                <li>
                                                                    <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="columns1_4">
                                                    <div class="sc_team_item sc_team_item_2 even">
                                                        <div class="sc_team_item_avatar">
                                                            <img alt="healthcare-team-2.jpg" src="{{ asset('images/medecin.jpeg') }}">
                                                            <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                        </div>
                                                        <div class="sc_team_item_info">
                                                            <h3 class="sc_team_item_title"><a href="#">Valerie Cruz</a></h3>
                                                            <div class="sc_team_item_position theme_accent2">therapist</div>
                                                            <ul class="sc_team_item_socials">
                                                                <li>
                                                                    <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_dribbble dribbble dribbble_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="columns1_4">
                                                    <div class="sc_team_item sc_team_item_3 odd">
                                                        <div class="sc_team_item_avatar">
                                                            <img alt="healthcare-team-3.jpg" src="{{ asset('images/medecin.jpeg') }}">
                                                            <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                        </div>
                                                        <div class="sc_team_item_info">
                                                            <h3 class="sc_team_item_title"><a href="#">Maria Blackwood</a></h3>
                                                            <div class="sc_team_item_position theme_accent2">dental</div>
                                                            <ul class="sc_team_item_socials">
                                                                <li>
                                                                    <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="columns1_4">
                                                    <div class="sc_team_item sc_team_item_4 even">
                                                        <div class="sc_team_item_avatar">
                                                            <img alt="healthcare-team-4.jpg" src="{{ asset('images/medecin.jpeg') }}">
                                                            <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                        </div>
                                                        <div class="sc_team_item_info">
                                                            <h3 class="sc_team_item_title"><a href="#">Alberto Hoffman</a></h3>
                                                            <div class="sc_team_item_position theme_accent2">therapist</div>
                                                            <ul class="sc_team_item_socials">
                                                                <li>
                                                                    <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_dribbble dribbble dribbble_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                        <span></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="twitBlockWrap">
                                <div class="sc_twitter twitBlock main">
                                    <div class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_nopagination sc_slider_noresize sc_slider_autoheight swiper-slider-container">
                                        <ul class="slides swiper-wrapper">
                                            <li class="sc_twitter_item swiper-slide last">
                                                <p>
                                                    <span class="twitterIco"> </span>
                                                    <a href="https://twitter.com/axiomthemes" class="twitAuthor" target="_blank">@axiomthemes</a>
                                                    So much work we put on this. And we want to share it with you! Our joy and pride.
                                                    <a href="#" target="_blank">axiomthemes.com/a-small-annive…</a>
                                                    #success #wordpress #webdesign
                                                </p>
                                            </li>
                                            <li class="sc_twitter_item swiper-slide">
                                                <p>
                                                    <span class="twitterIco"> </span>
                                                    <a href="https://twitter.com/axiomthemes" class="twitAuthor" target="_blank">@axiomthemes</a>
                                                    Awesome! Definitely worth checking out
                                                    <a href="#" target="_blank">twitter.com/Theme_REX/stat…</a>
                                                </p>
                                            </li>
                                            <li class="sc_twitter_item swiper-slide">
                                                <p>
                                                    <span class="twitterIco"> </span>
                                                    <a href="https://twitter.com/axiomthemes" class="twitAuthor" target="_blank">@axiomthemes</a>
                                                    Are you into #blogging ? then here's what you need
                                                    <a href="#" target="_blank">themeforest.net/item/gardenia-…</a>
                                                    #WordPress #ThemeForest #Envato
                                                </p>
                                            </li>

                                        </ul>
                                        <ul class="flex-direction-nav">
                                            <li>
                                                <a class="flex-prev" href="#"> </a>
                                            </li>
                                            <li>
                                                <a class="flex-next" href="#"> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
{% endblock %}