{% extends 'gestionsanteBundle::layout.html.twig' %}
{% block content %}

    <div id="topOfPage" class="topTabsWrap">
        <div class="main">
            <div class="speedBar">
                <a class="home" href="{{ path('gestionsante_homepage') }}">Accueil</a>
                <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                <a class="all" href="#">pédiatres</a>
                <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                <span class="current">Liste des pédiatres</span>
            </div>
            <h3 class="pageTitle h3">Liste des pédiatres</h3>
        </div>
    </div>

    <div class="mainWrap without_sidebar">
        <div class="main">
            <div class="content">

                <section class="no_margin no_padding">
                    <div class="container">
                        <div class="masonryWrap">
                            <div class="isotopeFiltr">
                                <ul>
                                    <li class="squareButton active">
                                        <a href="#" data-filter="*">tous les pédiatres</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_71">neurologue</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_66">psychiatre</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_61">generaliste</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_64">cardiologue</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="columns1_4 sc_column_item sc_column_item_4 even">
                                <ul>
                                    <li class="squareButton light ico" style="margin-left: 300px;">
                                        <div class="sc_button sc_button_style_global sc_button_size_medium squareButton global medium">
                                            <a href="{{ path('inscriptionPediatre') }}" class="" style="margin-left: 800px;">S'inscrire</a></br>
                                            <a href="{{ path('listePediatreTrier_DQL') }}" class="" style="margin-left: 800px;">Top 5</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            </br>
                            </br>
                            </br>
                            </br>
                            <section class="masonry isotope inited" data-columns="4" style="position: relative; height: 1441.92px;">
                                {% for pediatre in pediatres %}
                                {% if pediatre.demande == "1" %}
                                <article class="isotopeElement post_format_standard odd flt_71 flt_66 flt_61 isotopeElementShow" style="width: 300px; position: absolute; left: 0px; top: 0px; opacity: 1;">

                                    <div class="isotopePadding">
                                        <div class="thumb hoverIncrease inited" data-image="images/1317x2000.png" data-title="Summer Childcare Questions">
                                            <img alt="Summer Childcare Questions" src="{{ asset('images/'~pediatre.image) }}">
                                            <span class="hoverShadow"></span><a href="{{ asset('images/1317x2000.png') }}" title="Summer Childcare Questions" rel="prettyPhoto[slideshow]" class="inited"><span class="hoverIcon"></span></a></div>
                                        <h4>
                                            <a href="#">{{ pediatre.nom }} {{ pediatre.prenom }}</a>
                                        </h4>
                                        <p>{{ pediatre.description[:50] }} (...)</p>

                                        <div class="masonryMore inited">
                                            <ul>
                                                <li class="squareButton light ico">
                                                    <div class="sc_button sc_button_style_global sc_button_size_medium squareButton global medium">
                                                        <a href="{{  path('profilPediatre',{'id': pediatre.id} )  }}" class="">Consulter Profil</a>
                                                    </div>
                                                </li>

                                                <li class="squareButton light ico likeButton like" data-postid="806" data-likes="0" data-title-like="Like" data-title-dislike="Dislike">
                                                    <a class="icon-heart-1" title="Like - 0" href="{{ path('LikePediatre',{'id': pediatre.id }) }}">
                                                        <span class="likePost">{{ pediatre.likes }}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <div class="ratingItem" data-mark="{{ pediatre.rating }}">
                                                        <div class="starDefault">
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                        </div>
                                                        <div class="starHover" style="width: 49%;">
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                            <span class="starReview"></span>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <span class="inlineShadow"></span>
                                    </div>
                                </article>
                                    {% endif %}
                                {% endfor %}
                            </section>
                        </div>

                        <div id="pagination" class="pagination">
                            <ul class="pageLibrary">
                                <li class="pager_pages libPage">
                                    Page
                                    <input class="navInput" readonly="readonly" type="text" size="1" value="1"> of 2
                                    <div id="pageNavSlider" class="boxShadow pageFocusBlock navPadding" style="">
                                        <div class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_controls_top sc_slider_nopagination sc_slider_noautoplay swiper-slider-container">
                                            <ul class="slides swiper-wrapper" data-current-slide="1">
                                                <li class="swiper-slide">
                                                    <div class="pageNumber">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="#" class="active">1</a>
                                                                </td>
                                                                <td>
                                                                    <a href="#">2</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="flex-direction-nav">
                                            <li>
                                                <a class="flex-prev" href="#">
                                                </a>
                                            </li>
                                            <li>
                                                <a class="flex-next" href="#">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pager_next ico right squareButton light">
                                    <a href="#">Next </a>
                                </li>
                                <li class="pager_last ico right squareButton light">
                                    <a href="#">Last </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}