{% extends "BoutiqueBundle::Layout.html.twig" %}
{% block head %}
    <title>KidsCare HTML</title>
    <link rel='stylesheet'  href="{{ asset('public/js/vendor/new-royalslider/lib/royalslider/royalslider.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/__packed.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/fontello.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/animation.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/style.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/shortcodes.css') }}"  type='text/css' media='all'/>
    <link id="theme-skin-css" rel='stylesheet' href="{{ asset('public/css/kidscare.css') }}" type='text/css' media='all'/>
    <style id='theme-skin-inline-css' type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('public/css/responsive.css') }}" type='text/css' media='all'/>




    <link rel='stylesheet' href="{{ asset('public/css/woo/woocommerce-layout.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/woo/woocommerce-smallscreen.css') }}"  type='text/css' media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href="{{ asset('public/css/woo/woocommerce.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/__packed.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/fontello.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/animation.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/style.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/shortcodes.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/woo/woo-style.css') }}"  type='text/css' media='all'/>
    <link id="theme-skin-css" rel='stylesheet' href="{{ asset('public/css/toysstore.css') }}"  type='text/css' media='all'/>
    <style id='theme-skin-inline-css'  type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('public/css/responsive.css') }}"  type='text/css' media='all'/>






    <script src="{{ asset('public/js/vendor/html5.js') }}" type="text/javascript"></script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/jquery-1.11.3.min.js') }}"> </script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/jquery-migrate.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/new-royalslider/lib/royalslider/jquery.royalslider.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/__packed.js') }}"></script>

    <script type='text/javascript' src="{{ asset('public/js/custom/shortcodes_init.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/custom/_utils.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/custom/_front.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/custom/__main.js') }}"></script>

    <script type="text/javascript" src="{{ asset('public/js/custom/_googlemap_init.js') }}"></script>




{% endblock head %}

{% block content %}






    <div id="mainslider_4" class="sliderHomeBullets staticSlider slider_engine_royal slider_alias_13 mainslider_4">
        <div id="royalslider_4" class="royalSlider royalslider_4 rsUni rs-default-template">
            <div class="rsContent">
                <div class="slideContent slide-1">
                    <div class="main main_fixed">
                        <div class="rsABlock textBlock textTitle1" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="1200" data-delay="300" data-speed="1200" data-easing="easeOutBack">
                            <div class="title">GRIMM'S CITY</div>
                        </div>
                        <div class="rsABlock textBlock textTitle2" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="1200" data-delay="1200" data-speed="1200" data-easing="">
                            <div class="title">& TOWN WALDORF</div>
                        </div>
                        <div class="rsABlock textBlock textDescr" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="1200" data-delay="2100" data-speed="1200" data-easing="">
                            <p>Building Blocks Set, Village of Large Houses</p>
                        </div>
                        <div class="rsABlock order order1" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="900" data-delay="3000" data-speed="900" data-easing="">
                            <a href="#">BUY NOW</a>
                        </div>
                        <div class="rsABlock order order2" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="900" data-delay="3300" data-speed="900" data-easing="">
                            <a href="#">MORE</a>
                        </div>
                        <img alt="" class="rsABlock cloud" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="900" data-delay="1500" data-speed="1400" data-easing="" src="{{ asset('public/images/babbysitter-slider-cloud-2.png')}}">
                        <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="900" data-delay="1500" data-speed="1400" data-easing="" src="{{ asset('public/images/woo-slider1-ob1.png')}}">
                        <div class="rsABlock textPrice" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="300" data-delay="3600" data-speed="300" data-easing="">
                            <div>
                                price:
                                <span>$1.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rsContent">
                <div class="slideContent slide-2">
                    <div class="main main_fixed">
                        <div class="rsABlock textBlock textTitle1" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="1200" data-delay="300" data-speed="1200" data-easing="easeOutBack">
                            <div class="title">LEGO CITY 4200 </div>
                        </div>
                        <div class="rsABlock textBlock textTitle2" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="1200" data-delay="1200" data-speed="1200" data-easing="">
                            <div class="title">MINING 4x4</div>
                        </div>
                        <div class="rsABlock textBlock textDescr" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="1200" data-delay="2100" data-speed="1200" data-easing="">
                            <p>Drive over rocky mine terrain with the Mining 4x4</p>
                        </div>
                        <div class="rsABlock order order1" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="900" data-delay="3000" data-speed="900" data-easing="">
                            <a href="#">BUY NOW</a>
                        </div>
                        <div class="rsABlock order order2" data-fade-effect="none" data-move-effect="bottom" data-opposite="true" data-move-offset="900" data-delay="3300" data-speed="900" data-easing="">
                            <a href="#">MORE</a>
                        </div>
                        <img alt="" class="rsABlock cloud" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="900" data-delay="1500" data-speed="1400" data-easing="" src="{{ asset('public/images/babbysitter-slider-cloud-2.png')}}">
                        <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="right" data-opposite="true" data-move-offset="600" data-delay="2500" data-speed="600" data-easing="" src="{{ asset('public/images/496x323.png') }}">
                        <div class="rsABlock textPrice" data-fade-effect="none" data-move-effect="top" data-opposite="true" data-move-offset="300" data-delay="3300" data-speed="300" data-easing="">
                            <div>
                                from
                                <span>$9.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="userHeaderSection global">
        <div class="sc_section shop_features_bg bg_tint_dark">
            <div class="sc_content main margin_top_small margin_bottom_middle">
                <div class="columnsWrap sc_columns sc_columns_count_4">
                    <div class="columns1_4 sc_column_item sc_column_item_1 odd first">
                        <a href="#">
                            <div class="sc_title_icon sc_title_top sc_size_large inherit">
                                <img src="{{ asset('public/images/featured-toys1.png') }}" alt="">
                            </div>
                            <h6 class="sc_title sc_title_iconed style_2" >Great Service After You Buy</h6>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <div class="columns1_4 sc_column_item sc_column_item_2 even">
                        <a href="#">
                            <div class="sc_title_icon sc_title_top sc_size_large inherit">
                                <img src="{{ asset('public/images/featured-toys2.png') }}" alt="">
                            </div>
                            <h6 class="sc_title sc_title_iconed style_2">Great Prices &amp; Great Deals</h6>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <div class="columns1_4 sc_column_item sc_column_item_3 odd">
                        <a href="#">
                            <div class="sc_title_icon sc_title_top sc_size_large inherit">
                                <img src="{{ asset('public/images/featured-toys3.png') }}" alt="">
                            </div>
                            <h6 class="sc_title sc_title_iconed style_2">Consult a Professional with Live Chat Online</h6>
                        </a>
                        <a href="#">
                        </a>
                    </div>
                    <div class="columns1_4 sc_column_item sc_column_item_4 even">
                        <a href="#">
                            <div class="sc_title_icon sc_title_top sc_size_large inherit">
                                <img src="{{ asset('public/images/featured-toys4.png') }}" alt="">
                            </div>
                            <h6 class="sc_title sc_title_iconed style_2">Easy 30-Days Return Policy Shop with Confidence</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainWrap without_sidebar">
        <div class="content">

            <section class="woo_section">
                <div class="container">
                    <div class="sc_content main">
                        <h2 class="sc_title style_5 sc_title_regular">Categories</h2>
                        <div class="woocommerce columns-5">
                            <ul class="products">
                                <li class="product-category product first">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-1.png') }}" alt="Arts &amp; Crafts"/>
                                        <h3>
                                            Art et Bricolages

                                            <mark class="count">(3)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-6.png') }}" alt="Books"/>
                                        <h3>
                                            Livres
                                            <mark class="count">(1)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-4.png') }}" alt="Building Sets"/>
                                        <h3>
                                            Sets de construction
                                            <mark class="count">(3)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-3.png') }}" alt="Clothes for Kids"/>
                                        <h3>
                                            Vêtements pour enfants
                                            <mark class="count">(4)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product last">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-9.png') }}" alt="Learning Toys"/>
                                        <h3>
                                            Jouets d'apprentissage
                                            <mark class="count">(1)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product first">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-10.png') }}" alt="Lollipops"/>
                                        <h3>
                                            Lollipops
                                            <mark class="count">(1)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-2.png') }}" alt="Outdoor Games"/>
                                        <h3>
                                            Jeux de plein air
                                            <mark class="count">(5)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-5.png') }}" alt="Painting Toys"/>
                                        <h3>
                                            Jouets de peinture
                                            <mark class="count">(4)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-7.png') }}" alt="Robotic Toys"/>
                                        <h3>
                                            Jouets robotic
                                            <mark class="count">(1)</mark>
                                        </h3>
                                    </a>
                                </li>
                                <li class="product-category product last">
                                    <a href="#">
                                        <img src="{{ asset('public/images/categories-8.png') }}" alt="Space Toys"/>
                                        <h3>
                                            Jouets de l'espace
                                            <mark class="count">(1)</mark>
                                        </h3>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </section>

            <section class="grey_section bg_pattern_7">
                <div class="container">
                    <div class="sc_parallax light" data-parallax-speed="0.5" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                        <div class="sc_parallax_content" >
                            <div class="sc_parallax_overlay" >
                                <div class="sc_content main">
                                    <h2 class="sc_title style_5 sc_title_regular">Meilleurs Boutiques</h2>
                                    <p class="aligncenter margin_bottom_middle">
                                        <span class="sc_highlight style_5">Vous trouvez tout le meilleur pour votre enfant.</span>
                                    </p>
                                    <div class="woocommerce columns-4 margin_bottom_m35em">
                                        <ul class="products">
                                             {% for boutique in boutiques %}
                                            <li class="first product has-post-thumbnail">
                                                <a href="#">
                                                    <img src="{{ asset('public/images/'~boutique.getImage()) }}" class="attachment-shop_catalog" alt="Crayola 64 Ct Crayons 1"/>
                                                    <h3>{{ boutique.getNomBoutique() }}</h3>
                                                    <span class="price">
																<span class="amount"></span>
															</span>
                                                </a>
                                                <a href="#" rel="nofollow" ></a>
                                            </li>
                                                 {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="light_section">
                <div class="container">
                    <div class="sc_content main">
                        <h2 class="sc_title style_5 sc_title_regular">Top sellers</h2>
                        <p class="aligncenter margin_bottom_middle">
                            <span class="sc_highlight style_5">Shop great Toy Store goodies for your kids.</span>
                        </p>
                        <div class="woocommerce columns-4 margin_bottom_m35em">
                            <ul class="products">

                                {% for produit in produits %}
                                    <li class="first product has-post-thumbnail">
                                        <a href="#">
                                            <img src="{{ asset('public/images/'~produit.getImage()) }}"  class="attachment-shop_catalog" alt="The Zoomer Robot Dog Toy   1"/>
                                            <h3>{{ produit.getNom() }} {{ produit.id }}</h3>
                                            <span class="price">
													<span class="amount">{{ produit.getPrix() }}</span>
												</span>
                                            <input id="{{ produit.id }}" type="hidden" value="{{ produit.id }}">
                                        </a>
                                        {% if app.user %}
                                        <a  rel="nofollow"  class="button add_to_cart_button product_type_simple" onclick="ajouter({{ produit.id }}, {{ produit.prix }})">Add to cart{{ produit.id }}</a>
                                        {% endif %}
                                    </li>

                                {% endfor %}

                                <script>
                                    var i=0;
                                    function ajouter(idd, prix)
                                    {
                                        var test = idd;



                                        var urlEdit = "{{ path('ajouterAuPanier', { 'id': "id" }) }}";
                                        urlEdit=urlEdit.replace("id",test);
                                        $.ajax({
                                            method: 'POST',
                                            url: urlEdit,
                                            success: function(d)
                                            {
                                                if(d.msg == "success")
                                                {
                                                    i++;
                                                    alert("Item Added");
                                                    var prixTotal = parseInt(document.getElementById('prixTotal').innerText);
                                                    prixTotal = prixTotal + prix;
                                                    document.getElementById('prixTotal').innerText = prixTotal;
                                                    document.getElementById('panier').innerHTML += "<br>Produit:<br><input id=i type='number' min='1'> <input type='submit' name=\"update\" value=\"Update\" onclick='update(i)'><br>"+prix;
                                                }
                                                else{
                                                    alert("failure");
                                                }

                                            }
                                        });
                                    }







                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="light_section">
                <div class="container">
                    <div class="main">
                        <div class="sc_content">
                            <div class="sc_line style_1 sc_line_style_solid margin_bottom_large"></div>
                            <h2 class="sc_title style_5 sc_title_regular">Shop by Brands</h2>
                        </div>
                        <div class="sc_section sc_scroll_height_1 sc_scroll_controls sc_scroll_controls_horizontal sc_scroll_controls_type_yes">
                            <div id="sc_section_1465167175"  class="sc_scroll sc_scroll_horizontal swiper-slider-container scroll-container sc_section_1465167175">
                                <div class="sc_scroll_wrapper swiper-wrapper">
                                    <div class="sc_scroll_slide swiper-slide">
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/lego.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/MyLittlePoney.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/HotWheel.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/Barbie.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/Hasbro.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/PetitBato.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/3pommes.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/Lili.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/levis.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>
                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                            <img src="{{ asset('public/images/TyDressing.jpg') }}" alt=""/>
                                            <figcaption>
                                                <span class="icon inherit"></span>
                                            </figcaption>
                                        </figure>

                                    </div>
                                </div>
                            </div>
                            <ul class="flex-direction-nav">
                                <li>
                                    <a class="flex-prev" href="#"> </a>
                                </li>
                                <li>
                                    <a class="flex-next" href="#"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="footerContentWrap">
    <footer class="footerWrap footerStyleLight">
        <div class="main footerWidget widget_area">
            <div class="columnsWrap margin_bottom_m25">
                <aside class="columns1_4 widgetWrap widget widget_advert">
                    <div class="widget_advert_inner">

                        <div class="sc_video_player">
                            <div class="sc_video_frame sc_video_play_button" data-video="&lt;iframe class=&quot;video_frame&quot; src=&quot;https://youtube.com/embed/636Dp8eHWnM?autoplay=1&quot; width=&quot;100%&quot; height=&quot;141&quot; frameborder=&quot;0&quot; webkitAllowFullScreen=&quot;webkitAllowFullScreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowFullScreen=&quot;allowFullScreen&quot;&gt;&lt;/iframe&gt;">


                            </div>
                        </div>
                        <br/>
                        <p class="pd-sm">
                            <span class="sc_icon icon-home theme_accent2"> </span>
                            <strong>378 Main Street London</strong>
                        </p>
                        <p class="pd-sm">
                            <span class="sc_icon icon-email theme_accent2"> </span>
                            <strong>
                                <a class="" href="mailto:info@example.com">info@example.com</a>
                            </strong>
                        </p>
                        <p class="pd-sm">
                            <span class="sc_icon icon-phone theme_accent2"> </span>
                            <strong>+1 (44) 123-45-67</strong>
                        </p>
                    </div>
                </aside>
                <aside class="columns1_4 widgetWrap widget woocommerce widget_products">
                    <h3 class="title">Latest Products</h3>
                    <ul class="product_list_widget">
                        <li>
                            <a href="#" title="Count Sidewalk Chalk">
                                <img src="{{ asset('public/images/PlayMobile.jpg') }}" class="attachment-shop_thumbnail" alt="Crayola 64 Ct Crayons 1"/>
                                <span class="product-title">PlayMobile</span>
                            </a>
                            <span class="amount">&pound;9.99</span>
                        </li>
                        <li>
                            <a href="#" title="LeapFrog Learn to Write">
                                <img src="{{ asset('public/images/NinjaTurtle.jpg') }}" class="attachment-shop_thumbnail" alt="LeapFrog Learn to Write 1"/>
                                <span class="product-title">Tortues Ninja</span>
                            </a>
                            <span class="amount">&pound;25.00</span>
                        </li>

                    </ul>
                </aside>
                <aside class="columns1_4 widgetWrap widget woocommerce widget_top_rated_products">
                    <h3 class="title">Top Rated Products</h3>
                    <ul class="product_list_widget">
                        <li>
                            <a href="#" title="Count Sidewalk Chalk">
                                <img src="{{ asset('public/images/StarWars3.jpg') }}" class="attachment-shop_thumbnail" alt="Crayola 64 Ct Crayons 1"/>
                                <span class="product-title">StarWars </span>
                            </a>
                            <span class="amount">&pound;9.99</span>
                        </li>
                        <li>
                            <a href="#" title="LeapFrog Learn to Write">
                                <img src="{{ asset('public/images/StarWars1.jpg') }}" class="attachment-shop_thumbnail" alt="LeapFrog Learn to Write 1"/>
                                <span class="product-title">StarWars return of the Jedi </span>
                            </a>
                            <span class="amount">&pound;25.00</span>
                        </li>

                    </ul>
                </aside>
                <aside class="columns1_4 widgetWrap widget widget_twitter">
                    <h3 class="title">Twitter</h3>
                    <ul>
                        <li class="theme_text">
                            <a href="https://twitter.com/axiomthemes" class="username" target="_blank">@axiomthemes</a> Our new #food #drink #WordPress theme! Follow the link to get more info <a href="#" target="_blank">axiomthemes.com/food-drink-an-…</a>
                        </li>
                        <li class="theme_text last">
                            <a href="https://twitter.com/axiomthemes" class="username" target="_blank">@axiomthemes</a> Awesome! Definitely worth checking out <a href="#" target="_blank">twitter.com/Theme_REX/stat…</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </footer>


{% endblock content %}