{% extends "BoutiqueBundle::Layout.html.twig" %}
{% block head %}
    <title>KidsCare HTML</title>
    <link rel='stylesheet'  href="{{ asset('public/js/vendor/new-royalslider/lib/royalslider/royalslider.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/__packed.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/fontello.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/animation.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/style.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/shortcodes.css') }}"  type='text/css' media='all'/>
    <link id="theme-skin-css" rel='stylesheet' href="{{ asset('public/css/kidscare.css') }}" type='text/css' media='all'/>
    <style id='theme-skin-inline-css' type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('public/css/responsive.css') }}" type='text/css' media='all'/>




    <link rel='stylesheet' href="{{ asset('public/css/woo/woocommerce-layout.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/woo/woocommerce-smallscreen.css') }}"  type='text/css' media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href="{{ asset('public/css/woo/woocommerce.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/__packed.css') }}" type='text/css'  media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/fontello.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/fontello/css/animation.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/style.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/woo/woo-style.css') }}"  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('public/css/shortcodes.css') }}"  type='text/css' media='all'/>
    <link id="theme-skin-css" rel='stylesheet' href="{{ asset('public/css/kidscare.css') }}"  type='text/css' media='all'/>
    <style id='theme-skin-inline-css' type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('public/css/responsive.css') }}"  type='text/css' media='all'/>


    <style id='theme-skin-inline-css'  type='text/css'></style>


    <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
    <!--[if lt IE 9]>

    <![endif]-->







    <script type='text/javascript' src="{{ asset('public/js/vendor/jquery-1.11.3.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/jquery-migrate.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/jquery-ui.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/vendor/__packed.js') }}"></script>

    <script type='text/javascript' src="{{ asset('public/js/custom/shortcodes_init.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/custom/_utils.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/custom/_front.js') }}"></script>
    <script type='text/javascript' src="{{ asset('public/js/custom/__main.js') }}"></script>

{% endblock head %}

{% block content %}

    <div class="main_content">
        <div class="boxedWrap">

            <div id="topOfPage" class="topTabsWrap">
                <div class="main">
                    <div class="speedBar">
                        <a class="home" href="{{ path('Front') }}">Home</a>
                        <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                        <a class="all" href="{{ path('FrontProducts') }}">All Posts</a>
                        <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                        <span class="current">Product Found </span>
                    </div>
                    <h3 class="pageTitle h3">Product Found</h3>
                </div>
            </div>

            <div class="mainWrap with_sidebar sideBarRight">
                <div class="main">
                    <div class="content">
                        <section class="post shop_mode_thumbs">
                            <article class="post_content">

                                <section class="no_padding">
                                    <div class="container">
                                        <nav class="woocommerce-breadcrumb">
                                            <a href="index.html">Home</a>
                                            Product found
                                        </nav>
                                        <div class="mode_buttons">
                                            <form action="features-pages-shop-list.html" method="post">
                                                <input type="hidden" name="themerex_shop_mode" value="thumbs"/>
                                                <a href="features-pages-shop-list.html" class="woocommerce_thumbs icon-th" title="Show products as thumbs"> </a>
                                                <a href="features-pages-shop-list.html" class="woocommerce_list icon-th-list" title="Show products as list"> </a>
                                            </form>
                                        </div>
                                        <p class="woocommerce-result-count">Showing all results</p>

                                        <div   style="
    margin-right: -21%;
    margin-left: -82px;
" class="woocommerce columns-4 margin_bottom_m35em">

                                            <ul class="products">
                                                {% for produit in produits %}

                                                    <li class="first product has-post-thumbnail">
                                                        <form>
                                                            <a href="{{ path('GetProduct',{'id':produit.getId()}) }}">
                                                                <img src="{{ asset('public/images/'~produit.getImage()) }}" style="width: 500%" class="attachment-shop_catalog" alt="The Zoomer Robot Dog Toy   1"/>
                                                                <h3>{{ produit.getNom() }}</h3>

                                                            </a>
                                                            {% if (produit.getPromotion=='1') %}
                                                            <h3 style="color:  orangered;font-size: 200%;"> {{ produit.getPrix()-((produit.getPrix()*20)/100) }} Dt</h3>

                                                            {% else %}
                                                                <h3 style="color:  orangered;font-size: 200%;"> {{ produit.getPrix() }} Dt</h3>
                                                            {% endif %}
                                                            <input type="hidden" name="id" value="{{ produit.getId() }}">

                                                    {% if app.user %}
                                                            <a href="#" rel="nofollow" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                                    {% endif %}
                                                        </form>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>

                                    </div>
                                </section>

                            </article>
                        </section>
                    </div>

                    <div style="
    position: a;
    /* margin-left: 15px; */
    margin-top: 0%;
    margin-right: -13%;
" id="sidebar_main" class="widget_area sidebar_main sidebar">
                        <aside class="widgetWrap hrShadow widget woocommerce widget_product_categories">
                            <h3 class="title">Product Categories</h3>
                            <ul class="product-categories">
                                <li class="cat-item">
                                    <a href="#">Arts &amp; Crafts</a>
                                    <span class="count">(3)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Books</a>
                                    <span class="count">(1)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Building Sets</a>
                                    <span class="count">(3)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Clothes for Kids</a>
                                    <span class="count">(4)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Learning Toys</a>
                                    <span class="count">(1)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Lollipops</a>
                                    <span class="count">(1)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Outdoor Games</a>
                                    <span class="count">(5)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Painting Toys</a>
                                    <span class="count">(4)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Robotic Toys</a>
                                    <span class="count">(1)</span>
                                </li>
                                <li class="cat-item">
                                    <a href="#">Space Toys</a>
                                    <span class="count">(1)</span>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widgetWrap hrShadow widget woocommerce widget_product_search">
                            <h3 class="title">Search Products</h3>
                            <form method="get" class="search-form" action="#">
                                <input type="text" class="search-field" placeholder="Search for products &hellip;" value="" name="s" title="Search for products:"/>
                                <span class="search-button squareButton light ico">
									<a class="search-field icon-search" href="#"></a>
								</span>
                                <input type="hidden" name="post_type" value="product"/>
                            </form>
                        </aside>
                        <aside class="widgetWrap hrShadow widget woocommerce widget_price_filter">
                            <h3 class="title">Filter by price</h3>
                            <form method="get" action="#">
                                <div class="price_slider_wrapper">
                                    <div id="slider-range" class="price_slider"></div>
                                    <div class="price_slider_amount">
                                        <button type="submit" class="button">Filter</button>
                                        <div class="price_label">
                                            Price:
                                            <input type="text" id="amount" readonly>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </aside>

                        <aside class="widgetWrap widget woocommerce widget_product_tag_cloud">
                            <h3 class="title">Product Tags</h3>
                            <div class="tagcloud">
                                <a href='#' title='3 topics'>Action Figure</a>
                                <a href='#' title='2 topics'>art</a>
                                <a href='#' title='5 topics'>building</a>
                                <a href='#' title='2 topics'>chalks</a>
                                <a href='#' title='2 topics'>craft</a>
                                <a href='#' title='1 topic'>electronic</a>
                                <a href='#' title='5 topics'>lego</a>
                                <a href='#' title='2 topics'>pencils</a>
                                <a href='#' title='3 topics'>robotics</a>
                                <a href='#' title='8 topics'>set</a>
                                <a href='#' title='9 topics'>toys</a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock content %}