{% extends "EducationBundle::layout.html.twig" %}
{% block acceuil %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>Gestion Education</title>
    <link rel="icon" type="image/x-icon" href="images/favicon3.ico"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon3.ico') }}"/>
    <!--[if lt IE 9]>
    <script src="{{ asset('js/vendor/html5.js') }}" type="text/javascript"></script>
    <![endif]-->
    <link rel='stylesheet' href="{{ asset('js/vendor/revslider/rs-plugin/css/settings.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/__packed.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/fontello/css/fontello.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/fontello/css/animation.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/style.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/shortcodes.css') }}" type='text/css' media='all'/>

    <link id="theme-skin-css" rel='stylesheet' href="{{ ('css/learnplay.css') }}" type='text/css' media='all'/>

    <style id='theme-skin-inline-css' type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('css/responsive.css') }}" type='text/css' media='all'/>
{% endblock %}
{% block content %}
        <div id="mainslider_3" class="sliderHomeBullets staticSlider slider_engine_revo slider_alias_revo-babbysitter mainslider_3">
        <div id="rev_slider_3_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev_slider_3" class="rev_slider fullwidthabanner">
                <ul>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <img src="{{ asset('images/learn.jpg') }}" alt="learnplay-slide-1" data-bgposition="right bottom" data-kenburns="on" data-duration="14000" data-ease="Power1.easeInOut" data-bgfit="100" data-bgfitend="110" data-bgpositionend="center center">
                        <div class="tp-caption _lp_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="10" data-y="center" data-voffset="-140" data-speed="700" data-start="700" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            Decouvrez NOS NOUVEAUX CONTES
                        </div>
                        <div class="tp-caption _lp_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="10" data-y="center" data-voffset="-90" data-speed="700" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            Decouvrez NOS JEUX EDUCATIFS
                        </div>
                        <div class="tp-caption _lp_slider_text tp-fade fadeout tp-resizeme rs-parallaxlevel-0" data-x="10" data-y="center" data-voffset="-50" data-speed="700" data-start="2100" data-easing="Power0.easeIn" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="center" data-voffset="50" data-speed="700" data-start="2100" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="sc_button sc_button_style_global sc_button_size_huge alignright curveButton squareButton global huge">
                                <a href="Liste-des-contes.html" class="">Decouvrez</a>
                            </div>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <img src="{{ asset('images/transparent.png') }}" alt="babbysitter-slider-ground" data-bgposition="center bottom" data-bgfit="normal" data-bgrepeat="no-repeat">
                        <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="221" data-y="bottom" data-voffset="-410" data-speed="700" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <h1>Learn And Play</h1>
                        </div>
                        <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="124" data-y="bottom" data-voffset="-370" data-speed="700" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="190" data-y="bottom" data-voffset="-320" data-speed="700" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">
                        </div>
                        <div class="tp-caption sft rs-parallaxlevel-6" data-x="center" data-hoffset="-323" data-y="bottom" data-voffset="-359" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1.1">
                                <img src="{{ asset('images/babbysitter-slider-sun.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lfb fadeout rs-parallaxlevel-0" data-x="center" data-hoffset="-170" data-y="bottom" data-voffset="180" data-speed="700" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src={{ asset('images/learn3.jpg') }} alt="">
                        </div>
                        <div class="tp-caption lfl rs-parallaxlevel-3" data-x="center" data-hoffset="-492" data-y="bottom" data-voffset="-348" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-10" data-xe="10" data-ys="0" data-ye="0">
                                <img src="{{ asset('images/babbysitter-slider-cloud-1a.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lft rs-parallaxlevel-4" data-x="center" data-hoffset="-73" data-y="bottom" data-voffset="-548" data-speed="1000" data-start="3500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="2" data-xs="-15" data-xe="15" data-ys="0" data-ye="0">
                                <img src="{{ asset('images/babbysitter-slider-cloud-2a.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lfl rs-parallaxlevel-5" data-x="center" data-hoffset="470" data-y="bottom" data-voffset="-440" data-speed="1000" data-start="4500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-slideloop" data-easing="Power3.easeInOut" data-speed="5" data-xs="-10" data-xe="10" data-ys="0" data-ye="0">
                                <img src={{ asset('images/babbysitter-slider-cloud-1a.png') }} alt="" data-ww="166.9390243902439" data-hh="486">
                            </div>
                        </div>
                        <div class="tp-caption customin customout rs-parallaxlevel-10" data-x="center" data-hoffset="300" data-y="bottom" data-voffset="-85" data-customin="x:500;y:-100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:-550;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.01;scaleY:0.01;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="3500" data-start="2450" data-easing="Power0.easeIn" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power0.easeInOut">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="1" data-angle="0" data-radius="3" data-origin="3% 3%">
                                <img src={{ asset('images/fly.png') }} alt="">
                            </div>
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="120" data-y="bottom" data-voffset="-180" data-speed="300" data-start="4500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="sc_button sc_button_style_global sc_button_size_huge alignright curveButton right squareButton global huge">
                                <a href="#" class="">Article du jour</a>
                            </div>
                        </div>
                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="40" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/babbysitter-slider-ground-3.png') }}" alt="">
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                        <img src={{ asset('images/transparent.png') }} alt="babbysitter-slider-ground" data-bgposition="center bottom" data-bgfit="normal" data-bgrepeat="no-repeat">
                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="57" data-y="bottom" data-voffset="10" data-speed="1300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/play1.jpg') }}" alt="">
                        </div>
                        <div class="tp-caption _bs_slider_title tp-fade skewtorightshort tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="-351" data-y="bottom" data-voffset="-415" data-speed="700" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="words" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Vous Voulez Jouer ?
                        </div>
                        <div class="tp-caption _bs_slider_text_big tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="-430" data-y="bottom" data-voffset="-375" data-speed="700" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">Visitez l'Espace Des Jeux !
                        </div>
                        <div class="tp-caption lfr rs-parallaxlevel-3" data-x="center" data-hoffset="-485" data-y="bottom" data-voffset="-520" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="2" data-angle="0" data-radius="10" data-origin="50% 50%">
                                <img src="{{ asset('images/34x29.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lft rs-parallaxlevel-1" data-x="center" data-hoffset="-141" data-y="bottom" data-voffset="-151" data-speed="1000" data-start="3500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="2" data-angle="0" data-radius="10" data-origin="50% 50%">
                                <img src="images/77x76.png" alt="">
                            </div>
                        </div>
                        <div class="tp-caption lfl rs-parallaxlevel-2" data-x="center" data-hoffset="233" data-y="bottom" data-voffset="-376" data-speed="1000" data-start="4500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="tp-layer-inner-rotation   rs-wave" data-speed="5" data-angle="0" data-radius="10" data-origin="50% 50%">
                                <img src="{{ asset('images/50x37.png') }}" alt="">
                            </div>
                        </div>
                        <div class="tp-caption _bs_slider_text tp-fade tp-resizeme rs-parallaxlevel-0" data-x="center" data-hoffset="-435" data-y="bottom" data-voffset="-200" data-speed="300" data-start="4500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300">
                            <div class="sc_button sc_button_style_global sc_button_size_banner alignright curveButton right squareButton global banner">
                                <a href="#" class="">PLAY</a>
                            </div>
                        </div>
                        <div class="tp-caption tp-fade rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="40" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <img src="{{ asset('images/babbysitter-slider-ground-3.png') }}" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="mainWrap without_sidebar">
        <div class="content">
            <div class="">
                <section class="post post_format_standard postAlter no_margin page type-page">
                    <article class="post_content">
                        <div class="post_text_area">

                            <section class="orange_section">
                                <div class="container custom_padding">
                                    <div class="sc_section bg_tint_dark">
                                        <div class="sc_content main ">
                                            <div class="columnsWrap sc_columns sc_columns_count_5">
                                                <div class="columns3_5 sc_column_item sc_column_item_1 odd first span_3">
                                                    <span class="sc_highlight style_1">Select educational or entertaining course, time and teacher for your children.</span>
                                                </div>
                                                <div class="columns2_5 sc_column_item sc_column_item_4 even span_2 after_span_3">
                                                    <div class="">
                                                        <div class="sc_button sc_button_style_light sc_button_size_huge alignright squareButton light huge">
                                                            <a href="#" class="style_1">Book a Course</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="">
                                <div class="container">

                                    <div class="sc_content main ">
                                        <div class="columnsWrap sc_columns sc_columns_count_5">
                                            <div class="columns1_5 sc_column_item sc_column_item_1 odd first">
                                                <a href="#">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/little.jpg') }}" alt=""/>
                                                    </div>
                                                    <h6 class="sc_title sc_title_iconed style_1">Funny educational games</h6>
                                                </a>
                                            </div>
                                            <div class="columns1_5 sc_column_item sc_column_item_2 even">
                                                <a href="#">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/lego.jpeg') }}" alt=""/>
                                                    </div>
                                                    <h6 class="sc_title sc_title_iconed style_1">Outside activities</h6>
                                                </a>
                                            </div>
                                            <div class="columns1_5 sc_column_item sc_column_item_3 odd">
                                                <a href="#">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/paint.jpg') }}" alt=""/>
                                                    </div>
                                                    <h6 class="sc_title sc_title_iconed style_1">Babysitter last minute service</h6>
                                                </a>
                                            </div>
                                            <div class="columns1_5 sc_column_item sc_column_item_4 even">
                                                <a href="#">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/paint.jpg') }}" alt=""/>
                                                    </div>
                                                    <h6 class="sc_title sc_title_iconed style_1">Drawing, coloring, and painting</h6>
                                                </a>
                                            </div>
                                            <div class="columns1_5 sc_column_item sc_column_item_5 odd">
                                                <a href="#">
                                                    <div class="sc_title_icon sc_title_top sc_size_huge">
                                                        <img src="{{ asset('images/137x137.png') }}" alt=""/>
                                                    </div>
                                                    <h6 class="sc_title sc_title_iconed style_1">Book a Sitter!</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="sc_line sc_line_style_wavy margin_top_big margin_bottom_big"></div>
                                    </div>

                                    <div class="sc_content main ">
                                        <div class="aligncenter margin_bottom_middle">
                                            <h2 class="sc_title style_2 sc_title_regular">Nos contes</h2>
                                            <h4 class="sc_undertitle style_1"></h4>
                                        </div>
                                        <div class="sc_blogger sc_blogger_horizontal style_image style_image_classes">
                                            <div class="columnsWrap">
                                                <div class="columns1_3 column_item_1 odd first">
                                                    <article class="sc_blogger_item">
                                                        <div class="thumb">
                                                            <a href="synopsis-conte.html">
                                                                <img alt="Babysitting: Dealing With Temper Tantrums" src="{{ asset('images/conte1.jpg') }}">
                                                                <div class="sc_blogger_content">
                                                                    <div class="sc_blogger_content_inner">Synopsis...</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <h4 class="sc_blogger_title sc_title">
                                                            <a href="#">Le Petit Prince</a>
                                                        </h4>
                                                        <div class="reviews_summary blog_reviews">
                                                            <div class="classes_price">
                                                                <p>

                                                                </p>
                                                            </div>
                                                            <div class="criteria_summary criteria_row">
                                                                <div class="ratingItem" data-mark="50">
                                                                    <div class="starDefault">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                    <div class="starHover">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_blogger_content">
                                                        </div>
                                                        <div class="sc_blogger_info">
                                                            <div class="squareButton light ico sc_blogger_more">
                                                                <a class="icon-link" title="" href="#">More</a>
                                                            </div>
                                                            <div class="sc_blogger_author">
                                                                Posted by
                                                                <a href="#" class="post_author">admin</a>
                                                                <span class="separator">|</span>
                                                                Views
                                                                <span class="comments_number">176</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="columns1_3 column_item_2 even">
                                                    <article class="sc_blogger_item">
                                                        <div class="thumb">
                                                            <a href="#">
                                                                <img alt="10 Healthy Lunch Ideas for Kids" src="{{ asset('images/conte2.jpg') }}">
                                                                <div class="sc_blogger_content">
                                                                    <div class="sc_blogger_content_inner">Synopsis...</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <h4 class="sc_blogger_title sc_title">
                                                            <a href="#">Cendrillon</a>
                                                        </h4>
                                                        <div class="reviews_summary blog_reviews">
                                                            <div class="classes_price">
                                                                <p>

                                                                </p>
                                                            </div>
                                                            <div class="criteria_summary criteria_row">
                                                                <div class="ratingItem" data-mark="60">
                                                                    <div class="starDefault">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                    <div class="starHover">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_blogger_content">
                                                        </div>
                                                        <div class="sc_blogger_info">
                                                            <div class="squareButton light ico sc_blogger_more">
                                                                <a class="icon-link" title="" href="#">More</a>
                                                            </div>
                                                            <div class="sc_blogger_author">
                                                                Posted by
                                                                <a href="#" class="post_author">admin</a>
                                                                <span class="separator">|</span>
                                                                Views
                                                                <span class="comments_number">228</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="columns1_3 column_item_3 odd">
                                                    <article class="sc_blogger_item">
                                                        <div class="thumb">
                                                            <a href="#">
                                                                <img alt="Common Vaccination Myths Busted" src="{{ asset('images/conte6.jpg') }}">
                                                                <div class="sc_blogger_content">
                                                                    <div class="sc_blogger_content_inner">
                                                                        <p>Synopsis...</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <h4 class="sc_blogger_title sc_title">
                                                            <a href="#">Blanche neige et les septs nains </a>
                                                        </h4>
                                                        <div class="reviews_summary blog_reviews">
                                                            <div class="classes_price">

                                                            </div>
                                                            <div class="criteria_summary criteria_row">
                                                                <div class="ratingItem" data-mark="70">
                                                                    <div class="starDefault">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                    <div class="starHover">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_blogger_content">
                                                        </div>
                                                        <div class="sc_blogger_info">
                                                            <div class="squareButton light ico sc_blogger_more">
                                                                <a class="icon-link" title="" href="#">More</a>
                                                            </div>
                                                            <div class="sc_blogger_author">
                                                                Posted by
                                                                <a href="#" class="post_author">admin</a>
                                                                <span class="separator">|</span>
                                                                Views
                                                                <span class="comments_number">130</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="columns1_3 column_item_4 even">
                                                    <article class="sc_blogger_item">
                                                        <div class="thumb">
                                                            <a href="#">
                                                                <img alt="Does Your Child Have a Cold or the Flu?" src="{{ asset('images/conte4.jpg') }}">
                                                                <div class="sc_blogger_content">
                                                                    <div class="sc_blogger_content_inner">Synopsis...</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <h4 class="sc_blogger_title sc_title">
                                                            <a href="#">Pinocchio</a>
                                                        </h4>
                                                        <div class="reviews_summary blog_reviews">
                                                            <div class="classes_price">
                                                                <p></p>
                                                            </div>
                                                            <div class="criteria_summary criteria_row">
                                                                <div class="ratingItem" data-mark="80">
                                                                    <div class="starDefault">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                    <div class="starHover">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_blogger_content">
                                                        </div>
                                                        <div class="sc_blogger_info">
                                                            <div class="squareButton light ico sc_blogger_more">
                                                                <a class="icon-link" title="" href="#">More</a>
                                                            </div>
                                                            <div class="sc_blogger_author">
                                                                Posted by
                                                                <a href="#" class="post_author">admin</a>
                                                                <span class="separator">|</span>
                                                                Views
                                                                <span class="comments_number">50</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="columns1_3 column_item_5 odd">
                                                    <article class="sc_blogger_item">
                                                        <div class="thumb">
                                                            <a href="#">
                                                                <img alt="When Your Child Has a Cold" src="{{ asset('images/714x402.png') }}">
                                                                <div class="sc_blogger_content">
                                                                    <div class="sc_blogger_content_inner">Vivamus pharetra justo eget placerat commodo. Class aptent taciti sociosqu ad litora torquent...</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <h4 class="sc_blogger_title sc_title">
                                                            <a href="#">When Your Child Has a Cold</a>
                                                        </h4>
                                                        <div class="reviews_summary blog_reviews">
                                                            <div class="classes_price">
                                                                <p>$85

                                                                </p>
                                                            </div>
                                                            <div class="criteria_summary criteria_row">
                                                                <div class="ratingItem" data-mark="90">
                                                                    <div class="starDefault">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                    <div class="starHover">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_blogger_content">
                                                        </div>
                                                        <div class="sc_blogger_info">
                                                            <div class="squareButton light ico sc_blogger_more">
                                                                <a class="icon-link" title="" href="#">More</a>
                                                            </div>
                                                            <div class="sc_blogger_author">
                                                                Posted by
                                                                <a href="#" class="post_author">admin</a>
                                                                <span class="separator">|</span>
                                                                Views
                                                                <span class="comments_number">78</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="columns1_3 column_item_6 even columns_last">
                                                    <article class="sc_blogger_item sc_blogger_item_last">
                                                        <div class="thumb">
                                                            <a href="#">
                                                                <img alt="Detecting Learning Disabilities" src="{{ asset('images/714x402.png') }}">
                                                                <div class="sc_blogger_content">
                                                                    <div class="sc_blogger_content_inner">Ut vitae lacus pretium, molestie massa a, placerat urna. Donec viverra nisl id nisl accumsan, ac...</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <h4 class="sc_blogger_title sc_title">
                                                            <a href="#">Detecting Learning Disabilities</a>
                                                        </h4>
                                                        <div class="reviews_summary blog_reviews">
                                                            <div class="classes_price">
                                                                <p>$115
                                                                    <strong>/mo</strong>
                                                                </p>
                                                            </div>
                                                            <div class="criteria_summary criteria_row">
                                                                <div class="ratingItem" data-mark="100">
                                                                    <div class="starDefault">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                    <div class="starHover">
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                        <span class="starReview"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_blogger_content">
                                                        </div>
                                                        <div class="sc_blogger_info">
                                                            <div class="squareButton light ico sc_blogger_more">
                                                                <a class="icon-link" title="" href="#">More</a>
                                                            </div>
                                                            <div class="sc_blogger_author">
                                                                Posted by
                                                                <a href="#" class="post_author">admin</a>
                                                                <span class="separator">|</span>
                                                                Views
                                                                <span class="comments_number">42</span>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_section bg_tint_none sc_aligncenter margin_top_middle">
                                            <div class="">
                                                <div class="sc_button sc_button_style_global sc_button_size_banner squareButton global banner">
                                                    <a href="Liste-des-contes.html" class="">Plus de Contes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>

                            <section class="skyblue_section bg_pattern_6">
                                <div class="container">
                                    <div class="sc_section  bg_tint_light">
                                        <div class="sc_content main ">
                                            <div class="aligncenter margin_bottom_middle">
                                                <h2 class="sc_title sc_title_regular">Garderies disponibles</h2>
                                                <h4 class="sc_undertitle style_2">Chez nous vous trouvez les meilleures Garderies</h4>
                                            </div>
                                            <div class="sc_team no_padding">
                                                <div class="sc_columns columnsWrap">
                                                    <div class="columns1_3">
                                                        <div class="sc_team_item sc_team_item_1 odd first">
                                                            <div class="sc_team_item_avatar">
                                                                <img alt="team-5.jpg" src="{{ asset('images/gard1.jpg') }}">
                                                                <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                            </div>
                                                            <div class="sc_team_item_info">
                                                                <h3 class="sc_team_item_title"><a href="garderie.html">Garderie lac 1 </a></h3>
                                                                <div class="sc_team_item_position theme_accent2"> partir de 2ans</div>
                                                                <ul class="sc_team_item_socials">
                                                                    <li>
                                                                        <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="columns1_3">
                                                        <div class="sc_team_item sc_team_item_2 even">
                                                            <div class="sc_team_item_avatar">
                                                                <img alt="team-6.jpg" src="{{ asset('images/gard2.jpg') }}">
                                                                <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                            </div>
                                                            <div class="sc_team_item_info">
                                                                <h3 class="sc_team_item_title"><a href="#">First Class Academy</a></h3>
                                                                <div class="sc_team_item_position theme_accent2"> partir de 5 ans </div>
                                                                <ul class="sc_team_item_socials">
                                                                    <li>
                                                                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_dribbble  dribbble dribbble_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="columns1_3">
                                                        <div class="sc_team_item sc_team_item_3 odd">
                                                            <div class="sc_team_item_avatar">
                                                                <img alt="team-7.jpg" src="{{ asset('images/gard3.jpg') }}">
                                                                <div class="sc_team_item_description">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi lobortis odio sapien.</div>
                                                            </div>
                                                            <div class="sc_team_item_info">
                                                                <h3 class="sc_team_item_title"><a href="#">Garderie Esprit</a></h3>
                                                                <div class="sc_team_item_position theme_accent2"> partir de 5 ans</div>
                                                                <ul class="sc_team_item_socials">
                                                                    <li>
                                                                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                                                                            <span></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_section bg_tint_none sc_aligncenter margin_top_middle">
                                            <div class="">
                                                <div class="sc_button sc_button_style_global sc_button_size_banner squareButton global banner">
                                                    <a href="Liste-des-garderies.html" class="">Plus de Garderies</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </section>


                            <section class="no_padding">
                                <div class="container">
                                    <div class="sc_parallax light" data-parallax-speed="0.3" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                                        <div class="sc_parallax_content parallax_image_3">
                                            <div class="sc_content main ">
                                                <div class="columnsWrap sc_columns sc_columns_count_2">
                                                    <div class="columns1_2 sc_column_item sc_column_item_1 odd first"></div>
                                                    <div class="columns1_2 sc_column_item sc_column_item_2 even">
                                                        <h3 class="sc_title style_3">We will take care of your kids</h3>
                                                        <span class="sc_highlight style_2">Aenean nec vestibulum dui. Sed vestibulum varius interdum. Nulla euismod venenatis erat quis interdum. Nullam leo lorem, porttitor ac blandit eget, venenatis vel purus. Mauris vitae mi risus.</span>
                                                        <div class="margin_top_middle">
                                                            <div class="sc_button sc_button_style_global sc_button_size_huge squareButton global huge">
                                                                <a href="#" class="">Purchase</a>
                                                            </div>
                                                            <div class="sc_button sc_button_style_global sc_button_size_huge squareButton global huge">
                                                                <a href="#" class="">More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_line sc_line_style_wavy_orange margin_top_large"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>



                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="upToScroll">
        <a href="#" class="addBookmark icon-star-empty" title="Add the current page into bookmarks"> </a>
        <a href="#" class="scrollToTop icon-up-open-big" title="Back to top"> </a>
    </div>

    <script type='text/javascript' src="{{ asset('js/vendor/jquery-1.11.3.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/jquery-migrate.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/__main.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/__packed.js') }}"></script>
    <!--<script type='text/javascript' src='js/vendor/SmoothScroll.min.js'></script>-->
    <script type='text/javascript' src="{{ asset('js/custom/shortcodes_init.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/_utils.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/_front.js') }}"></script>

    <!--<script type='text/javascript' src='custom_tools/js/_customizer.js'></script>-->
{% endblock %}
