{% extends "EducationBundle::layout.html.twig" %}

{% block g %}
    <!--[if lt IE 9]>
    <script src="{{ asset('js/vendor/html5.js') }}" type="text/javascript"></script>
    <![endif]-->
    <link rel='stylesheet' href="{{ asset('css/__packed.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/fontello/css/fontello.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/fontello/css/animation.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/style.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/shortcodes.css') }}" type='text/css' media='all'/>
    <link id="theme-skin-css" rel='stylesheet' href="{{ asset('css/kidscare.css') }}" type='text/css' media='all'/>
    <style id='theme-skin-inline-css' type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('css/responsive.css') }}" type='text/css' media='all'/>

    <!--<link rel='stylesheet' href='custom_tools/css/customizer.css' type='text/css' media='all'/>-->


{% endblock %}


{% block content %}
    <body class="archive category category-post-formats themerex_body wide top_panel_above theme_skin_kidscare">
    <!--[if lt IE 9]>
    <div class="sc_infobox sc_infobox_style_error">
        <div style="text-align:center;">It looks like you're using an old version of Internet Explorer. For the best experience, please <a href="http://microsoft.com" style="color:#191919">update your browser</a> or learn how to <a href="http://browsehappy.com" style="color:#222222">browse happy</a>!</div>
    </div>	<![endif]-->
    <div class="main_content">
        <div class="boxedWrap">


            <div id="topOfPage" class="topTabsWrap">
                <div class="main">
                    <div class="speedBar">
                        <a class="home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                        <a class="all" href="#">Jeux</a>
                        <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                        <span class="current">Jeux disponibles</span>
                    </div>
                    <h3 class="pageTitle h3">Jeux disponibles</h3>
                </div>
            </div>

            <div class="mainWrap with_sidebar sideBarLeft">
                <div class="main">
                    <div class="content">


                            <article class="post_format_standard postCenter hrShadow odd post">
                                <h1 class="post_title">
                                    <a href=""></a>
                                    <div>

                                        <p align="left">
                                            <iframe src="https://www.silvergames.com/fr/doodle-jump/iframe" width="480" height="300" style="margin:0;padding:0;border:0"></iframe>
                                        </p>

                                    </div>

                                    <a href=""></a>
                                    <p>
                                        <iframe src="https://www.silvergames.com/fr/bubble-shooter/iframe" width="480" height="300" style="margin:0;padding:0;border:0"></iframe>
                                    </p>


                                </h1>


                                <h2 class="post_title"></h2>
                                <h4 class="sc_blogger_title sc_title">
                                    <p></p>
                                </h4>
                                <div class="postStandard">
                                    <p> </p>
                                </div>
                                <div class="postSharing">
                                    <ul>
                                        <li class="squareButton light ico">
                                            <a class="icon-link" title="More" href="#">More</a>
                                        </li>
                                        <li class="squareButton light ico">
                                            <a class="icon-eye" title="Views - 101" href="#">101</a>
                                        </li>
                                        <li class="squareButton light ico">
                                            <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                        </li>
                                        <li class="squareButton light ico likeButton like" data-postid="544" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                            <a class="icon-heart-1" title="Like - 1" href="#">
                                                <span class="likePost"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </article>



                        <div id="pagination" class="pagination">
                            <ul class="pageLibrary">
                                <li class="pager_pages libPage">
                                    Page
                                    <input class="navInput" readonly="readonly" type="text" size="1" value="1"> of 2
                                    <div id="pageNavSlider" class="boxShadow pageFocusBlock navPadding">
                                        <div class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_controls_top sc_slider_nopagination sc_slider_noautoplay swiper-slider-container">
                                            <ul class="slides swiper-wrapper" data-current-slide="1">
                                                <li class="swiper-slide">
                                                    <div class="pageNumber">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="#" class="active">1</a>
                                                                </td>
                                                                <td>
                                                                    <a href="#">2</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="flex-direction-nav">
                                            <li>
                                                <a class="flex-prev" href="#">
                                                </a>
                                            </li>
                                            <li>
                                                <a class="flex-next" href="#">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pager_next ico right squareButton light">
                                    <a href="#">Next </a>
                                </li>
                                <li class="pager_last ico right squareButton light">
                                    <a href="#">Last </a>
                                </li>
                            </ul>
                        </div>

                    </div>



                </div>
            </div>



        </div>
    </div>

    <div class="upToScroll">
        <a href="#" class="addBookmark icon-star-empty" title="Add the current page into bookmarks"> </a>
        <a href="#" class="scrollToTop icon-up-open-big" title="Back to top"> </a>
    </div>

    <script type='text/javascript' src="{{ asset('js/vendor/jquery-1.11.3.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/jquery-migrate.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/__packed.js') }}"></script>
    <!--<script type='text/javascript' src="{{ asset('js/vendor/SmoothScroll.min.js') }}></script>-->
    <script type='text/javascript' src="{{ asset('js/custom/shortcodes_init.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/_utils.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/_front.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/__main.js') }}"></script>

    <!--<script type='text/javascript' src="{{ asset('custom_tools/js/_customizer.js') }}"></script>-->

    </body>
    </html>
{% endblock %}