{% extends "EducationBundle::layout.html.twig" %}
{% block synopsis %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
    <!--[if lt IE 9]>
    <script src="{{ asset('js/vendor/html5.js') }}" type="text/javascript"></script>
    <![endif]-->
    <link rel='stylesheet' href="{{ asset('css/__packed.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/fontello/css/fontello.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/fontello/css/animation.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/style.css' ) }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{ asset('css/shortcodes.css') }}" type='text/css' media='all'/>
    <link id="theme-skin-css" rel='stylesheet' href="{{ asset('css/kidscare.css') }}" type='text/css' media='all'/>
    <style id='theme-skin-inline-css' type='text/css'></style>
    <link rel='stylesheet' href="{{ asset('css/responsive.css') }}" type='text/css' media='all'/>

    <!--<link rel='stylesheet' href='custom_tools/css/customizer.css' type='text/css' media='all'/>-->
{% endblock %}




{% block content %}
    <body class="single single-post single-format-standard themerex_body wide top_panel_above theme_skin_kidscare">
    <!--[if lt IE 9]>
    <div class="sc_infobox sc_infobox_style_error">
        <div style="text-align:center;">It looks like you're using an old version of Internet Explorer. For the best experience, please <a href="http://microsoft.com" style="color:#191919">update your browser</a> or learn how to <a href="http://browsehappy.com" style="color:#222222">browse happy</a>!</div>
    </div>	<![endif]-->
    <div class="main_content">
        <div class="boxedWrap">

            <div id="topOfPage" class="topTabsWrap">
                <div class="main">
                    <div class="speedBar">
                        <a class="home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                        <a class="all" href="#">All Posts</a>
                        <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
                        <span class="current">Contes</span>
                    </div>
                    <h3 class="pageTitle h3">Liste des Contes</h3>
                </div>
            </div>

            <div class="mainWrap with_sidebar sideBarLeft">
                <div class="main">
                    <div class="content">
                        <section class="post post_format_standard postAlter page type-page">
                            <article class="post_content">
                                <div class="post_text_area">

                                    <section class="no_padding">
                                        <div class="container">

                                            <div class="sc_section sc_alignright columns2_3 margin_bottom_small">
                                                <div class="sc_border sc_border_light">
                                                    <div class="sc_zoom">
                                                        <img src="{{ asset('images/lepetitprince.jpg') }}" data-zoom-image="images/lepetitprince.jpg" alt=""/>
                                                    </div>
                                                </div>


                                            </div>
                                            <h1 class="post_title entry-title">Synopsis</h1>
                                            <div class="post_text_area">
                                                <h2 class="post_title entry-title">Le petit prince</h2>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, a, illo est consequatur quam minus repudiandae. Labore minima maxime consequatur quidem beatae vero hic sequi! Maiores, voluptate, optio, architecto neque iure assumenda obcaecati quam repellendus amet rem iusto dolore harum maxime aspernatur cupiditate eius magni cumque ratione nisi placeat sequi. Quisquam vitae aspernatur corporis dolore dolores voluptatem numquam natus sed ea laborum! At, officia, aliquam quis nemo alias id atque dolore eveniet dicta optio eligendi iusto. Suscipit, quaerat ab laborum modi incidunt saepe molestias quas amet.</p>
                                                <p>Exercitationem, impedit id repudiandae modi aut nulla veritatis praesentium qui sit perferendis ab doloremque laborum reprehenderit corrupti ut. Ducimus, cumque quia reprehenderit harum cupiditate fuga non quibusdam ullam provident ex! Ad, aliquid, corporis accusamus repellat autem maxime nihil voluptas iusto quia repudiandae consequatur provident inventore fuga ipsam molestias facere similique nemo non repellendus nam ab amet dolores atque iure porro obcaecati velit dolorem delectus cumque! Possimus, ipsa, consequuntur, sequi, voluptas non corrupti ut quia quod quo nam blanditiis sint libero est dolor aperiam laudantium molestiae ad earum sapiente id animi accusamus consectetur! Rerum, tenetur eligendi impedit corporis eveniet sunt sed id minus fugiat ducimus dolor consequatur deleniti odit sint reiciendis nesciunt harum quo magnam mollitia accusamus ipsum error fuga libero facere quaerat laboriosam dolorum!</p>
                                                <div class="sc_section sc_alignleft columns2_3 margin_bottom_small">
                                                    <div class="sc_border sc_border_dark">
                                                        <div class="sc_zoom">
                                                            <img src="{{ asset('images/prince.jpg')}}" data-zoom-image="images/prince.jpg" alt=""/>
                                                        </div>
                                                    </div>


                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, beatae, velit, mollitia debitis vel magni minus itaque numquam laborum eligendi repellat incidunt ad dolor laudantium nobis cumque quaerat vitae recusandae excepturi reprehenderit eaque in quia odit consectetur quasi doloremque omnis officia nisi aperiam maiores ipsa maxime nemo ipsam ea explicabo rerum illum dolorem! Quas, aliquid reprehenderit magnam neque minus dolore perferendis eius quo deserunt. Explicabo, fugit, cupiditate vel asperiores assumenda in a quis reprehenderit quo aut harum optio ad voluptatum omnis pariatur error dolore incidunt ducimus libero expedita voluptate saepe praesentium doloremque quisquam accusantium ipsa possimus quidem architecto eius odio dolor dolorem quod iusto. Dicta, suscipit, necessitatibus, placeat, rerum officia quia mollitia quos nisi</p>
                                                <p>Similique laboriosam facere perferendis rem nemo illo itaque non ut voluptas tempore amet minus nostrum modi reprehenderit in magni quasi cumque possimus a autem repellat. Tempora, itaque, possimus laboriosam ipsa vitae recusandae eos cum quasi laborum dolores rerum velit asperiores qui. Odit, dolorum, itaque laudantium quam sed unde saepe consequatur eligendi nesciunt in provident aperiam sit quas ipsa accusamus voluptatum deleniti soluta cupiditate facere dolor veritatis quo ut dolores quos eaque temporibus accusantium officia vero voluptates quae. Maxime, perspiciatis, saepe. Ex, vitae, dolorum, eligendi atque necessitatibus animi similique maxime cupiditate obcaecati porro in libero fuga nisi at exercitationem vel officia! Dolor doloremque illo vel est unde.</p>
                                                <div class="sc_section sc_alignright columns2_3 margin_bottom_small">
                                                    <div class="sc_zoom">
                                                        <img src="{{ asset('images/1317x2000.png')}}" data-zoom-image="images/1317x2000.png" alt=""/>
                                                    </div>


                                                </div>
                                                <h3>Zoom effect</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, error eos facere omnis voluptas dolorum numquam distinctio alias tenetur animi cumque neque atque obcaecati nobis recusandae? Voluptatum, velit, aliquid, ab blanditiis repellendus doloribus eveniet mollitia reprehenderit dolor adipisci rerum tempora. Quod, dolorum nemo dicta nulla corporis officia. Aperiam, neque, veniam provident ducimus debitis perspiciatis soluta nam doloremque recusandae fugiat sapiente rerum consectetur adipisci optio quibusdam consequatur placeat modi itaque sed vero omnis quasi dicta eius odio vel a commodi delectus consequuntur dolore mollitia. Ut, enim, ea libero excepturi laudantium rerum dolorem explicabo eos eum id odio doloremque temporibus. Ullam, reiciendis, neque, provident quas voluptas nostrum praesentium dignissimos vitae magnam est labore non aliquid facilis magni officiis quidem accusantium maxime deserunt adipisci repellendus assumenda vero modi fugiat minima numquam placeat nobis dolorum perspiciatis ipsum omnis quia possimus maiores voluptates animi aliquam at culpa. Sint, maxime, cumque itaque debitis facilis sunt id ea deleniti ducimus quam corporis incidunt veniam labore quisquam beatae explicabo adipisci quo commodi! Repellat, incidunt, magnam, architecto similique provident possimus nesciunt laboriosam a laborum nemo vero laudantium exercitationem dolorum accusamus dolores aspernatur obcaecati facere veritatis culpa tenetur sequi deserunt reprehenderit cumque voluptates minima at non. Ratione repellat expedita odio!</p>
                                                <div class="tagsWrap margin_bottom_middle"></div>
                                            </div>

                                        </div>
                                    </section>

                                </div>
                            </article>
                        </section>
                    </div>

                    <div id="sidebar_main" class="widget_area sidebar_main sidebar">
                        <aside class="widgetWrap widget widget_text">
                            <h3 class="title">Catégories</h3>
                            <div class="textwidget">
                                <ul class="sc_blogger sc_blogger_vertical style_list no_description">
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-accordion.html">Fantésie</a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-audio.html">Romantique</a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-banner.html">Educatif</a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-blogger-part-1.html">Aventure</a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-blogger-part-2.html">Historiques</a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-button.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-columns.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-contact-form.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-dropcaps.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-google-map.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-highlight.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-image.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-infobox.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-line.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-list.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-parallax.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-quote.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-section-block.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-skills-arc-counter.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-skills-bar.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-skills-pie.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-slider.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-table.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-tabs.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-team.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-testimonials.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-title.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-toggles.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-tooltip.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-twitter.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-video.html"></a>
                                    </li>
                                    <li class="sc_blogger_title sc_title">
                                        <a href="features-tools-shortcodes-zoom.html"></a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>

                </div>
            </div>



        </div>
    </div>

    <div class="upToScroll">
        <a href="#" class="addBookmark icon-star-empty" title="Add the current page into bookmarks"> </a>
        <a href="#" class="scrollToTop icon-up-open-big" title="Back to top"> </a>
    </div>



    <script type='text/javascript' src="{{ asset('js/vendor/jquery.elevateZoom-3.0.4.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/jquery-1.11.3.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/jquery-migrate.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/vendor/__packed.js') }}"></script>
    <!--<script type='text/javascript' src="{{ asset('js/vendor/SmoothScroll.min.js') }}"></script>-->
    <script type='text/javascript' src="{{ asset('js/custom/shortcodes_init.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/_utils.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/_front.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/custom/__main.js') }}"></script>
    <!--<script type='text/javascript' src="{{ asset('custom_tools/js/_customizer.js') }}'></script>-->



    </body>
{% endblock %}